<header class="bg-success text-white py-2 fs-5">
    <div class="container-fluid d-flex align-items-center justify-content-between">

        <!-- Logo -->
        <div class="fw-bold fs-3 ms-4">QuickTicket</div>

        <!-- Thanh tìm kiếm -->
<form class="d-flex align-items-center bg-white rounded px-2" method="get" style="width: 400px;">
  <span class="me-2 text-dark fs-6"><i class="bi bi-search"></i></span>
  <input class="form-control border-0 shadow-none fs-6 py-1" type="text" placeholder="Hôm nay bạn muốn tìm gì" aria-label="Tìm kiếm">
  <button class="btn btn-outline-success border-0 fs-6 py-1 px-2" type="submit">Search</button>
</form>


        <!-- Các nút bên phải -->
        <div class="d-flex align-items-center gap-4 me-4">
            <button class="btn btn-outline-light bg-success border border-light rounded-pill px-3">Tạo sự kiện</button>
            <a href="#" class="text-white text-decoration-none d-flex align-items-center fs-6">
                <i class="bi bi-ticket-perforated-fill me-2"></i> Vé của tôi
            </a>
            <a href="#" class="text-white fw-bold text-decoration-none fs-6">Đăng nhập/Đăng ký</a>
        </div>
    </div>
</header>


<nav class="navbar navbar-expand-sm bg-dark navbar-dark" style=" margin-bottom: 20px;">
    <div class="container-fluid">
        <ul class="navbar-nav gap-3">
            <li class="nav-item">
                <a class="nav-link fs-6 text-white" href="/music_event">Nhạc sống</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-6 text-white" href="#">Sân khấu & Nghệ thuật</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-6 text-white" href="#">Khác</a>
            </li>
        </ul>

        <!-- Bộ lọc chi tiết -->
        <form class="d-flex align-items-center ms-3">
            <!-- Diễn viên -->
            <select class="form-select me-2 filter-select bg-dark border-dark text-white">
                <option value="">Chọn diễn viên</option>
                <option value="mytam">Mỹ Tâm</option>
                <option value="denvau">Đen Vâu</option>
                <option value="sonTung">Sơn Tùng M-TP</option>
            </select>

            <!-- Địa điểm -->
            <select class="form-select filter-select bg-dark border-dark text-white">
                <option value="">Chọn địa điểm</option>
                <option value="hanoi">Hà Nội</option>
                <option value="hcm">TP.HCM</option>
                <option value="danang">Đà Nẵng</option>
            </select>
        </form>
    </div>
</nav>
