{% extends 'organizer_layout/base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/organizer.css') }}">
<div class="container mt-4">
    <!-- Thông tin sự kiện -->
    <h5 class="text-success fw-bold">Thông tin sự kiện</h5>

    <div class="form-container d-flex p-3 mt-3">
        <!-- Khung tải ảnh sự kiện -->
        <div class="upload-box me-4">
            <label for="eventImage" class="upload-label">
                <span>📷<br>Tải hình ảnh sự kiện</span>
                <input type="file" id="eventImage" hidden>
            </label>
        </div>

        <!-- Form sự kiện -->
        <div class="flex-grow-1">
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label text-white">Tên sự kiện</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control dark-input">
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label text-white">Tên địa chỉ</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control dark-input">
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label text-white">Tỉnh/Thành</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control dark-input">
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label text-white">Thể loại</label>
                <div class="col-sm-9">
                    <select class="form-select dark-input">
                        <option>--Chọn loại sự kiện--</option>
                        <option>Hội thảo</option>
                        <option>Ca nhạc</option>
                        <option>Thể thao</option>
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label text-white">Mô tả sự kiện:</label>
                <div class="col-sm-9">
                    <textarea rows="3" class="form-control dark-input"></textarea>
                </div>
            </div>
            <div class="text-end">
                <a href="/create_event" class="btn btn-success px-4">Tạo sự kiện</a>
            </div>

        </div>
    </div>
</div>
{% endblock %}